* {
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    margin: 0;
}

a {
    color: #ff72ac;
}

/* navigation bar */
/* navigation bar */

nav {
    display: inline;
  }
  
  .nav {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  
  nav img {
    max-width: 180px;
    margin-top: 10px;
    position: left;
  }
  
  .nav-sig {
    display: inline-block;
    width: min-content;
  }
  
  .links {
    padding-top: 30px;
    float: right;
    margin-right: 60px;
    position: relative;
    text-decoration: none;
    
  }
  
  nav ul {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav button {
    color: black !important;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
   
  
  .links .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ff72ac !important;
    text-underline-offset: .25rem;
    text-decoration-thickness: 4px;
  }
  

  
  #examples .example .hover1:before,
  #examples .example .hover1:after, 
  #examples .example .hover2:before,
  #examples .example .hover2:after, 
  #examples .example .hover3:before,
  #examples .example .hover3::after
  {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #ff72ac;
  }
  
  #examples .hover1:hover.hover1:before,
  #examples .hover1:hover.hover1:after, 
  #examples .hover2:hover.hover2:before,
  #examples .hover2:hover.hover2:after, 
  #examples .hover3:hover.hover3:before,
  #examples .hover3:hover.hover3:after
  {
    width: 100%;
    opacity: 1;
  }
  
  #examples .example .hover1.hover1-1:before,
  #examples .example .hover1.hover1-1:after, 
  #examples .example .hover2.hover2-1:before,
  #examples .example .hover2.hover2-1:after, 
  #examples .example .hover3.hover3-1:before,
  #examples .example .hover3.hover3-1::after
  {
    left: 0;
  }
  
  #examples .example .hover1, 
  #examples .example .hover2, 
  #examples .example .hover3
  {
    transition: 0.2s;
    position: relative;
  }
  
  .name {
    margin-left: 30px;
    letter-spacing: 2px;
  }
  
  .signature {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  img {
    max-width: 450px;
  }


/* spacing */
.spacer {
    height: 100px;
}
.half-spacer {
    height: 50px;
}


.big-spacing {
    margin-top: 200%;
}

.normal-title {
   
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;

  color: #000000;
}

.emergency {
  font-weight: 700;
  font-size: 84px;
  line-height: 102px;
  color: #000000;

}

.contraceptives {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #FF72AC;
}
.descriptive-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.image-home {
  margin-left: 20%;
}
.section-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.about-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}
.blue {
  color: #4D96FF;
}
.pink {
  color: #FF72AC;
}

/* spacing */
.spacer {
    height: 100px;
}
.half-spacer {
    height: 50px;
}
.big-spacing {
    margin-top: 200%;
}

.hl {
  color: #00000090;
  background-color: #00000090;
  height: 2px;
  margin: 2%;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 16px #00000030; 

}


.card a:hover {
  background-color: #FF72AC;
}
